* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body > header {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 16px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a {
    color: whitesmoke;
    text-decoration: none;
    margin-left: 16px;
}


header li {
display: inline;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   

.articles article img {
/*height: 180px;*/
width: 100%;
}

.articles article {
    width: 30%
};

section {
    padding: 16px 0;
}

section h2,
.articles article {
    padding-top: 25px;
}

.container h2 {
    font-size: 55px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
}

.container h1 {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;

}

body li:hover {
    text-decoration: underline;
}



.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    margin: 16px;
    display: inline-block;
    text-decoration: none;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 32px;
}

#sports {
    background: rgba(0, 255 , 0, 0.1);
}

#sports .articles article a {
    background-color: rgba(0, 255 , 0, 0.6);
}

#economy {
    background-color: #f8f595;
}

#economy .articles article a {
    background-color: #6d6603;
}

/* CÓDIGO DO EXERCÍCIO ABAIXO */

#esports {
    background-color: rgba(0, 0 , 255, 0.2)
}

#entertainment {
    background-color: rgba(200, 0, 150, 0.2);
}

#entertainment .articles article a {
    background-color: red
}